#textBody {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #120e07;
}
#textBody p{
	text-align: center;
    position: absolute;
	font-weight: 5%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #120e07;
}

#backgroundBody {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background: url(background1.jpg);
    background-size: cover;
    background-color:#464646;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;

    background: #120e07;
    color: #fff;
}

.fa:hover {
    opacity: 0.7;
}

body{
    background-color: #120e07;
    color:#ffce54;
}
#clock{
    text-align: center;
    width: 30%;
    position: absolute;
    top:  10%;
    left: 35%;
}
#clock h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}
.clock-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
  }
  .clock-items{
      width: 32%;
      background-color: #464646;
      color:#120e07;
      border-radius: 10px;
      text-align: center;
      margin-right: 3%;
      padding-top:30px;
      padding-bottom: 30px;
      font-size: 70px;
      letter-spacing: 5px;
      font-family: 'Orbitron', sans-serif;


  }
  .clock-items p{
      margin:0;
      padding:0;
      border-radius: 5px;;
  }
  p{
      text-align: center;
  }
  #date{
      font-size: 20px;
      font-family: 'Bebas Neue', cursive;
	  color: #120e07;
  }
 
  #media screen and (max-width: 700px) {
	  body{
    background-color: #120e07;
    color:#120e07;
}
#clock{
    text-align: center;
    width: 30%;
    position: absolute;
    top:  10%;
    left: 35%;
}
#clock h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}
.clock-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
  }
  .clock-items{
      width: 32%;
      background-color: #120e07;
      color: #120e07;
      border-radius: 10px;
      text-align: center;
      margin-right: 3%;
      padding-top:30px;
      padding-bottom: 30px;
      font-size: 70px;
      letter-spacing: 5px;
      font-family: 'Orbitron', sans-serif;


  }
  .clock-items p{
      margin:0;
      padding:0;
      border-radius: 5px;;
  }
  p{
      text-align: center;
  }
  #date{
      font-size: 20px;
      font-family: 'Bebas Neue', cursive;
	  color: #120e07;
  }
	  
  }
  